{#
  Response body for a successful POST /sources.
  Primary swap: the fresh empty form replaces the submitted one.
  Out-of-band: the new list item is appended to #sources-list.
#}
{% set url = None %}
{% set error = None %}
{% include "_source_form.html.j2" %}
{% set oob = True %}
{% include "_source_item.html.j2" %}
