{% extends "base.html.j2" %}
{% block content %}
<hgroup>
<h1>Welcome aboard.</h1>
<h2>Your Signalweek account is ready.</h2>
</hgroup>
<p>
We'll email you next week's digest as soon as it's ready. In the meantime,
you can add sources to your account.
</p>
{% endblock %}
